* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --beige: #ffe2af;
  --blue: #261fb3;
  --blue-accent: #161179;
}

body {
  font-family: sans-serif;
  background-color: var(--beige);
}

/* --------------------------------- header --------------------------------- */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;

  background-color: var(--white);
  padding: 1.5rem 3rem;
  /* margin-bottom: 1.5rem; */
}

.header-logo {
  background-color: var(--beige);
  padding: 1rem;
  border-radius: 14px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

.nav-list li a {
  color: inherit;
  text-decoration: none;
}

.nav-list li a:hover,
a:active {
  font-style: italic;
}

/* ---------------------------------- body ---------------------------------- */

section {
  min-height: 100vh;
}

img {
  width: 25%;
}

/* ---------------------------------- hero ---------------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  margin-bottom: 1.5rem;
}

.hero-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-intro p {
  font-size: 2rem;
  width: 25%;
}
