/* ------------------------------- @font-face ------------------------------- */

@font-face {
  /* headings */
  font-family: "PublicSans-Regular";
  src: url("../portfolio/src/fonts/PublicSans-Regular.ttf");
}

@font-face {
  /* body */
  font-family: "SchibstedGrotesk-Regular";
  src: url("../portfolio/src/fonts/SchibstedGrotesk-Regular.ttf");
}

/* --------------------------- *, html, body, main -------------------------- */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  margin: 32px;

  font-size: 100%;
  font-family: "PublicSans-Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #2b2b2b;
}

main {
  flex: 1 0 auto;
}

/* ----colors-----
  bg: #fff
  primary: #2b2b2b
  accent: #797979
  light: #e1e1e1
  -----------------*/

/* --------------------------------- header --------------------------------- */

.header {
  display: flex;
  gap: 2.5em;

  min-height: 90px;
  border-bottom: solid 1px #e1e1e1;
  margin-bottom: 2.5em;
}

.header-title {
  flex: 1 1 33%;
}

.header-title span {
  color: #797979;
}

.header-nav {
  display: flex;
  flex: 1 1 66%;
  justify-content: space-between;
  gap: 2.5em;

  padding: 0;
  list-style-type: none;
}

.header-nav a {
  text-decoration: none;
  color: #2b2b2b;
}

.header-nav a:hover,
a:focus {
  text-decoration: underline;
}

/* -------------------------------- projects -------------------------------- */

.projects {
  display: flex;
  gap: 2.5em;
}

.projects-left {
  flex: 1 1 33%;
}

.projects-list {
  padding: 0;
  list-style-type: none;
}

.projects-list > * {
  padding-bottom: 0.35em;
}

.projects-right {
  flex: 1 1 66%;
}

.projects-right img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.projects-left h3 {
  font-size: 100%;
  font-weight: normal;
  color: #797979;

  margin-bottom: 2.5em;
}

.projects-right h3 {
  font-size: 100%;
  font-weight: normal;

  margin-bottom: 2.5em;
}

.projects-list a {
  text-decoration: none;
  color: #e1e1e1;
}

.projects-list a:hover,
.projects-list a:focus {
  color: #2b2b2b;
}

/* ---------------------------------- about --------------------------------- */

.about {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  width: 100%;
}

.row:not(:last-child) > * {
  margin-bottom: 2.5em;
}

.about-text {
  flex: 1 1 66%;
}

.about-text h4 {
  color: #797979;
}

.about-text p {
  font-family: "SchibstedGrotesk-Regular", sans-serif;
  text-transform: none;
  letter-spacing: normal;
}

.about-text a {
  text-decoration: none;
  color: #2b2b2b;
}

.about-text a:hover,
.about-text a:focus {
  color: #797979;
}

.about-photo {
  display: flex;
  flex: 1 1 33%;
  justify-content: flex-end;
  align-items: flex-start;
}

.about-photo > * {
  width: 80%;
}

/* --------------------------------- footer --------------------------------- */

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: flex-end;

  min-height: 90px;
  border-top: solid 1px #e1e1e1;
  margin: 2.5em auto;
}

.footer a {
  text-decoration: none;
  color: #2b2b2b;
}

.footer a:hover,
a:focus {
  text-decoration: underline;
}

.footer span {
  color: #797979;
}
